.button-primary {
  position: relative;
  display: inline-flex;
  border-radius: 32px;
  gap: 8px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s;
}
.button-primary::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background: #c5fcfc;
  transition: width 0.5s, height 0.5s;
}
.button-primary:hover::before {
  width: 400px;
  height: 400px;

}


