@tailwind base;
@tailwind components;
@tailwind utilities;


/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #000; /* Black scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* White scrollbar thumb, change to #00ffff for aqua */
  border-radius: 6px; /* Rounded scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly darker when hovered */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Makes scrollbar thinner */
  scrollbar-color: #fff #000; /* White thumb on black track, change #fff to #00ffff for aqua */
}


/* navbar logo */

.logo-container {
  display: inline-block;
  position: relative;
  width: 100px; /* Set the fixed width */
  height: 70px; /* Set the fixed height */
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the images cover the container */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.first {
  opacity: 1; /* Initially visible */
  z-index: 1; /* Keeps the first image on top initially */
}

.second {
  opacity: 0; /* Initially hidden */
  z-index: 0; /* Ensures the second image is behind the first image */
}

.logo-container:hover .first {
  opacity: 0; /* Fade out the first image */
  transform: scale(0.95); /* Slightly scale down the first image for effect */
}

.logo-container:hover .second {
  opacity: 1; /* Fade in the second image */
  transform: scale(1.05); /* Slightly scale up the second image for effect */
}

* {
  @apply  transition-colors duration-200;
}

.growDiv {
  transform: translateY(-300px);
}

@media (min-width: 768px) {
  .growDiv {
    transform: translateY(-500px);
  }
}

.svg-loading-two {
  max-width: 100%;
  height: auto;
}